@model BTABankDeposits.Controllers.Client

<h2>Анкета нового клиента</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <datalist id="cities">
        @foreach (var item in ViewBag.Cities)
        {
            <option value="@item.Name"></option>
        }
    </datalist>

    <div class="form-horizontal jumbotron">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SecondName, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ThirdName, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ThirdName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThirdName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">

                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col" })
                    </div>
                    <div class="col-3">
                        <select name="Gender">
                            <option value="М">Мужской</option>
                            <option value="Ж">Женский</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PassportSeries, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PassportSeries, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PassportSeries, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PassportNumber, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PassportNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PassportNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PassportCreator, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PassportCreator, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PassportCreator, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PassportCreatedDate, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PassportCreatedDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.PassportCreatedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PassportId, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PassportId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PassportId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BirthPlace, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BirthPlace, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BirthPlace, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LivingCity, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.LivingCity, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input list="cities" name="LivingCity" />

                        @Html.ValidationMessageFor(model => model.LivingCity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LivingAddress, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LivingAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LivingAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-lg">

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumberHome, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumberHome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumberHome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumberMobile, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumberMobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "+375XXXXXXXXX" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumberMobile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WorkPlace, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WorkPlace, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkPlace, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WorkPosition, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WorkPosition, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkPosition, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RegistrationCity, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.RegistrationCity, new { htmlAttributes = new { @class = "form-control" } })*@

                        <input list="cities" name="RegistrationCity" />


                        @Html.ValidationMessageFor(model => model.RegistrationCity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RegistrationAddress, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RegistrationAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RegistrationAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MaritalStatus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Citizenship, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Citizenship, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Citizenship, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Invalidity, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Invalidity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Invalidity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsPensioner, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsPensioner)
                            @Html.ValidationMessageFor(model => model.IsPensioner, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MonthlyIncome, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MonthlyIncome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MonthlyIncome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsDutyBound, htmlAttributes: new { @class = "control-label col" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsDutyBound)
                            @Html.ValidationMessageFor(model => model.IsDutyBound, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
