@model IEnumerable<BTABankDeposits.Models.DepositListViewModel>

@{
    ViewBag.Title = "Deposits";
}

<h2>Deposits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContractNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TillEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepositSum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContractNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepositType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepositPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TillEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestCharges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepositSum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
